<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link rel="stylesheet" href="style/petstore.css" type="text/css" />
<title>ArtSell Demo</title>
</head>
<body>
	<div align="center">
		<form th:action="@{/user/login}" th:object="${loginAccount}" method="POST">
			<span th:if="${loginForwardAction}"> 
				<input size="50" type="hidden" name="loginForwardAction" th:value="@{${loginForwardAction}}" />
			</span>
		
			<div id="leftD" align="center">
				<input name="pic" type="image" src="/images/artsell_logo_white.jpg" width="650px" height="260px">
			<br>
				<table>
					<tr>
						<td colspan="2"><b>Please enter your ID and Password.</b> <br />&nbsp;
						</td>
					</tr>
					<tr>
						<td><b>ID:</b></td>
						<td><input type="text" th:field="*{userId}" size="20" /> <span
							th:each="err : ${#fields.errors('userId')}" th:text="${err}"></span>
						</td>
					</tr>
					<tr>
						<td><b>Password:</b></td>
						<td><input type="password" th:field="*{password}" size="20" />
							<span th:each="err : ${#fields.errors('password')}"
							th:text="${err}"></span></td>
					</tr>
					<tr>
						<td> &nbsp;</td>
						<td>
							<button type="submit" name="update">로그인</button>&nbsp 
							<a th:href='@{/user/registerForm}'>
								<button type="button" name="button">회원가입</button>
						</a>
						</td>
					</tr>
				</table>
				<span th:each="err : ${#fields.globalErrors()}"
							th:text="${err}"></span>
			</div>
		</form> 
	</div>
</body>
</html>
