<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Top :: head(~{::title})"> <!-- 고치기 -->
<meta charset="EUC-KR">
<title>paintingRegister</title>
</head>
<body>

<div th:replace="thyme/Top :: header"></div> <!-- 고치기 -->

<div align="center">
	<h2>그림 등록</h2>
	<form th:action="@{/myitem/add}" th:object="" method="post">
		<table>
			<tr>
				<td>작품명&nbsp;&nbsp;</td>
				<td><input type="text" id="itemName" th:field="*{itemName}" /></td>
			</tr>
			<tr>
				<td>시작 가격&nbsp;&nbsp;</td>
				<td><input type="text" id="minPrice" th:field="*{minPrice}" /></td>
			</tr>
			<tr>
				<td>화가&nbsp;&nbsp;</td>
				<td><input type="text" id="artist" th:field="*{artist}" /></td>
			</tr>
			<tr>
				<td>경매 마감 기한&nbsp;&nbsp;</td>
				<td><input type="date" id="deadline" th:field="*{deadline}" /></td>
			</tr>
			<tr>
				<td>카테고리&nbsp;&nbsp;</td>
				<td>
					<select>
						<option>선택</option>
						<option th:each="c : ${category}" th:value="${c.categoryId}" th:text="{c.name}">카테고리</option>
					</select>
				</td>
			</tr> 
			<tr>
				<td colspan="2">작품 사진 첨부&nbsp;&nbsp;<input type="file" id="picture" th:field="*{picture}"></td>
			</tr>
			<tr><td colspan="2">그림설명</td></tr>
			<tr>
				<td colspan="2"><textarea id="description" th:field="*{description}" cols="45" rows="8"></textarea></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" value="등록"></td>
			</tr>
		</table>
	</form>
</div>

<div th:replace="thyme/Bottom :: footer"></div> <!-- 고치기 -->