<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Top :: head(~{::title})"> <!-- 고치기 -->
<meta charset="EUC-KR">
<title>searchResult</title>
</head>
<body>

<div th:replace="thyme/Top :: header"></div> <!-- 고치기 -->

<div align="center">
	<h2>작품 검색</h2>
	<form th:action="@{/search/item}" method="post">
		<select>
			<option th:value="all" selected>all</option>
			<option th:each="" th:value="" th:text="">artist</option>
		</select>
		<input type="hidden" name="search" value="true"/>
	    <input type="search" name="keyword" />&nbsp;
	    <input src="/images/search.png" type="image" />
	</form>
</div>

<div align="center">
	<p>총 <strong th:text="">검색된 item 수</strong> 개의 작품이 검색되었습니다.</p> <!-- 고치기 -->
	<table>
		<th>카테고리</th>
		<th>작품</th>
		<th>제목</th>
		<th>화가</th>
		<tr th:each="item : ${itemList}">
			<td th:text="${item.categoryId}">
				<a href="" th:href="@{/shop/viewCategory(categoryId=${item.categoryId})}">카테고리</a>
			</td> <!-- 카테고리 이름으로 바꾸기 -->
			<td>
				<a href="" th:href="@{/shop/viewitem(itemId=${item.itemId})}">
					<img src="" th:src="${item.picture}" />
				</a>
			</td>
			<td th:text="${item.itemName}">
				<a href="" th:href="@{/shop/viewitem(itemId=${item.itemId})}">제목</a>
			</td>
			<td th:text="${item.artist}">
				<a href="" th:href="@{/search/item(artist=${item.artist})}">화가</a>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<p>
				<a th:if="${!itemList.firstPage}"
				   href="" th:href="@{/search/item(page=${'previous'})}"
				   th:utext="${'<B>&lt;&lt; Prev</B>'}">Prev</a>
				<a th:if="${!itemList.lastPage}"
				   href="" th:href="@{/search/item(page=${'next'})}"
				   th:utext="${'<B>Next &gt;&gt;</B>'}">Next</a>
			</td>
		</tr>
	</table>
</div>

<div th:replace="thyme/Bottom :: footer"></div> <!-- 고치기 -->

<!-- 추가하면 좋을 것들: 정렬기능, 인기검색어 기능 -->