<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link rel="stylesheet" href="style/petstore.css" type="text/css" />
<title>ArtSell User Register</title>
</head>

<body>
	<div align="center">
		<form th:action="@{/user/register}" th:object="${userRegisterForm}" method="GET">
			<br>
			<br>


			<table class="n13">
				<tr>
					<td>이름</td>
					<td><input type="text" th:field="*{account.name}" size="20" /> <span
							th:each="err : ${#fields.errors('account.name')}" th:text="${err}"></span></td>
				</tr>

				<tr>
					<td>전화번호</td>
					<td><input type="text" th:field="*{account.phone}" size="20" /> <span
							th:each="err : ${#fields.errors('account.phone')}" th:text="${err}"></span></td>
				</tr>

				<tr>
					<td>아이디</td>
					<td>
					<input type="text" th:field="*{account.userId}" size="20" /> <span
							th:each="err : ${#fields.errors('account.userId')}" th:text="${err}">
					</span></td>
					
					
	
				</tr>

				<tr>
					<td>패스워드</td>
						<td>
					<input type="text" th:field="*{account.password}" size="20" /> <span
							th:each="err : ${#fields.errors('account.password')}" th:text="${err}">
					</span></td>
					
				</tr>

				<tr>
					<td>패스워드 확인</td>
						<td>
					<input type="text" th:field="*{repeatedPassword}" size="20" /> <span
							th:each="err : ${#fields.errors('repeatedPassword')}" th:text="${err}">
					</span></td>
				</tr>

				<tr>
					<td>이메일</td>
					<td>
					<input type="text" th:field="*{account.email}" size="20" /> <span
							th:each="err : ${#fields.errors('account.email')}" th:text="${err}">
					</span></td>
				</tr>

				<tr>
					<td>카드번호</td>
					<td>
					<input type="text" th:field="*{account.credit}" size="20" /> <span
							th:each="err : ${#fields.errors('account.credit')}" th:text="${err}">
					</span></td>
				</tr>

				<tr>
					<td>주소</td>
						<td>
					<input type="text" th:field="*{account.address}" size="20" /> <span
							th:each="err : ${#fields.errors('account.address')}" th:text="${err}">
					</span></td>
			</table>

			<br />
			<input type="image" src="../images/button_submit.gif" name="submit"
				value="Save Account Information" />
		</form>

	</div>
</body>