<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link rel="stylesheet" href="style/artsell.css" type="text/css" />
<title>ArtSell User Register</title>
<script>
	function findAddr() {
		new daum.Postcode({
			oncomplete : function(data) {

				console.log(data);

				// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
				// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
				// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				var roadAddr = data.roadAddress; // 도로명 주소 변수
				var jibunAddr = data.jibunAddress; // 지번 주소 변수
				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				//document.getElementById('member_post').value = data.zonecode;
				if (roadAddr !== '') {
					document.getElementById("member_addr").value = roadAddr;
				} else if (jibunAddr !== '') {
					document.getElementById("member_addr").value = jibunAddr;
				}
			}
		}).open();
	}
</script>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
	<div align="center">
		<form th:action="@{/user/register}" th:object="${userRegisterForm}"
			method="GET">
			<br> <br>


			<h1>ARTSELL JOIN</h1>
			<table class="n13">
				<tr>
					<td>이름</td>
					<td><input type="text" th:field="*{account.name}" size="20" />
						<span th:each="err : ${#fields.errors('account.name')}"
						th:text="${err}"></span></td>
				</tr>

				<tr>
					<td>전화번호</td>
					<td><input type="text" th:field="*{account.phone}" size="20" />
						<span th:each="err : ${#fields.errors('account.phone')}"
						th:text="${err}"></span></td>
				</tr>

				<tr>
					<td>아이디</td>
					<td><input type="text" th:field="*{account.userId}" size="20" />
						<span th:each="err : ${#fields.errors('account.userId')}"
						th:text="${err}"> </span></td>



				</tr>

				<tr>
					<td>패스워드</td>
					<td><input type="password" th:field="*{account.password}"
						size="20" /> <span
						th:each="err : ${#fields.errors('account.password')}"
						th:text="${err}"> </span></td>

				</tr>

				<tr>
					<td>패스워드 확인</td>
					<td><input type="password" th:field="*{repeatedPassword}"
						size="20" /> <span
						th:each="err : ${#fields.errors('repeatedPassword')}"
						th:text="${err}"> </span></td>
				</tr>

				<tr>
					<td>이메일</td>
					<td><input type="text" th:field="*{account.email}" size="20" />
						<span th:each="err : ${#fields.errors('account.email')}"
						th:text="${err}"> </span></td>
				</tr>

				<tr>
					<td>카드번호</td>
					<td><input type="text" th:field="*{account.credit}" size="20" />
						<span th:each="err : ${#fields.errors('account.credit')}"
						th:text="${err}"> </span></td>
				</tr>

				<tr>
					<td>주소</td>
					<td><input type="text" id="member_addr"
						th:field="*{account.address1}" placeholder="Address" readonly
						onclick="findAddr()" /> <span
						th:each="err : ${#fields.errors('account.address1')}"
						th:text="${err}"></span> <br> <input type="text"
						th:field="*{account.address2}" size="20"
						placeholder="Detailed Address" /> <span
						th:each="err : ${#fields.errors('account.address2')}"
						th:text="${err}"> </span></td>
			</table>

			<br /> <input type="image" src="../images/button_submit.gif"
				name="submit" value="Save Account Information" />
		</form>

	</div>
</body>