<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Top :: head(~{::title})"> <!-- 고치기 -->
<meta charset="EUC-KR">
<title>userList</title>
</head>
<body>

<div th:replace="thyme/Top :: header"></div> <!-- 고치기 -->

<div align="center">
	<h2>회원 관리</h2>
	<table>
		<th>ID</th>
		<th>이름</th>
		<th>주소</th>
		<th>전화번호</th>
		<th>e-mail</th>
		<th>카드번호</th>
		<tr th:each="account : ${accountList}">
			<td th:text="${account.userId}">id</td>
			<td th:text="${account.name}">name</td>
			<td th:text="${account.address}">address</td>
			<td th:text="${account.phone}">tel</td>
			<td th:text="${account.email}">e-mail</td>
			<td th:text="${account.credit}">credit_info</td>
		</tr>
		<tr>
			<td colspan="6" align="center">
				<p>
				<a th:if="${!accountList.firstPage}"
				   href="" th:href="@{/admin/manage(page=${'previous'})}"
				   th:utext="${'<B>&lt;&lt; Prev</B>'}">Prev</a>
				<a th:if="${!itemList.lastPage}"
				   href="" th:href="@{/admin/manage(page=${'next'})}"
				   th:utext="${'<B>Next &gt;&gt;</B>'}">Next</a>
			</td>
		</tr>
	</table>
</div>

<div th:replace="thyme/Bottom :: footer"></div> <!-- 고치기 -->