@charset "UTF-8";

.error {
	color: red;
	font-weight: bold;
}
/*나영이*/
/* 추가 */
table.search {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

table.top tr td {
	padding: 5px;
	background-color: white; /* skdud */
}

/* 수정 */
table.t1 {
	margin: 30px;
	background-color: #B89063;
	width: 100%;
	border: none;
	border-collapse: collapse;
}

/* 수정 */
table.t1 tr td {
	padding: 30px;
}

/* 추가 */
table.mypage {
	margin: 30px;
	background-color: #FBF8EF;
	width: 100%;
	border: none;
}

/* 추가 */
div.itembidding {
	margin: 30px;
	background-color: #FBF8EF;
	width: 100%;
}

/* 추가 */
table.biddingcheck {
	text-align: center;
	margin: 30px;
	width: 100%;
}

/*채연이*/
div.bg {
	background-color: #FFFFCC;
	margin-left: 30%;
	margin-right: 30%;
	border-radius: 25px;
}

table.border {
	border-collapse: collapse;
	border: 1px solid;
}

table.border tr td {
	border: 1px solid;
}

table.border tr th {
	border: 1px solid black;
}

ul.align {
	display: inline-block;
	text-align: left;
}

td.bold {
	font-weight: bold;
}

table.border tr#c1 td {
	text-align: right;
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
}
/*채연이*/
table#main-menu {
	background-color: #008800;
	border: none;
	border-spacing: 2px;
}

table#main-menu tr td {
	padding: 2px;
	background-color: #FFFF88;
}

table#index {
	background-color: #FFFF88;
	border: none;
	width: 170px;
	border-collapse: collapse;
}

table#index tr td {
	padding: 5px;
}

table#item {
	background-color: #008800;
	width: 60%;
	border: none;
	border-spacing: 2px;
}

table#item tr {
	background-color: #FFFF88;
}

table#cart {
	background-color: #008800;
	border: none;
	border-spacing: 2px;
}

table#cart tr td {
	padding: 5px;
}

table#account {
	background-color: #DDDDDD;
	border: 2px solid;
	border-spacing: 2px;
}

table#account tr td {
	padding: 5px;
}

table.top {
	background-image: url('../images/bkg-topbar.gif');
	width: 100%;
	border: none;
	border-collapse: collapse;
}

table.top tr td {
	padding: 5px;
}

table.t1 {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

table.n25 {
	background-color: #008800;
	border: none;
	border-spacing: 2px;
}

table.n25 tr td {
	padding: 5px;
}

table.n23 {
	background-color: #008800;
	border: none;
	border-spacing: 2px;
}

table.n23 tr td {
	padding: 3px;
}

table.n13 {
	background-color: #008800;
	border: none;
	border-spacing: 1px;
}

table.n13 tr {
	background-color: #FFFF88;
}

table.n13 tr td {
	padding: 3px;
}
/*명진*/
		#leftD {
			margin-left: 400px;
			margin-top:100px;
			float: left;
		}
		#rightD {
			margin-left: 50px;
			margin-top: 250px;
			margin-right: 80px;
			float: left;
		}
		table.table1{
			width: 60%;
			margin: 20px 0px;
			border: 1px solid black;
			border-collapse: collapse;
		}
		table.table1 th {
			border: 1px solid black;
			padding: 5px;
		}
		table.table1 td {
			border: 1px solid black;
			padding: 5px;
		}
/*명진 topbar*/

	.content-topbar {
	margin-left: -40px;
	margin-right: 40px;
  min-height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-topbar-item {
  font-family: Roboto-Regular;
  font-size: 12px;
  color: black;
  line-height: 1.8;
  padding: 0 13px;
  position: relative;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.left-topbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -13px;
  margin-right: -13px;
}
a.left-topbar-item:hover {
  color: #17b978;
}

.left-topbar-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #fff;
  opacity: 0.1;
  left: 0;
  top: calc(50% - 5px);
}

.left-topbar-item:first-child:before {
  display: none;
}

/*명진 main*/

.container {max-width: 1080px;}
.bg0 {background-color: #fff;}

.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
.m-rl--1 {margin-left: 100px;margin-right: -1px;}

.p-rl-1{
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}
.p-rl-5{
	padding-left: 5px;
	padding-right: 5px;
}
.p-t-2{
	padding-top: 0px;
}
.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.col-sm-6{position:relative;width:100%;min-height:1px;padding-right:10px;padding-left:15px}
.col-lg-4{-ms-flex:0 0 33%;flex:0 0 33%;max-width:30%}
.col-lg-5{-ms-flex:0 0 30%;flex:0 0 30%;max-width:30%}
.col-lg-4{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}
.pos-relative {position: relative;}
.bg-img1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size-a-12 {
  width: 100%;
  height: 292px;
}
.flex-col-e-s{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.s-full {width: 100%; height: 15%;}
.p-rl-25 {
	padding-left: 110px;
	padding-right:50px;
}
.p-tb-11 {
	padding-top: 120px;
	padding-bottom: 11px;
}

.dis-block {display: block;}

.how1-child1 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: rgba(0,0,0,0.5);
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -o-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  opacity: 0.3;
}
.how1-child2 {
  z-index: 3;
}

.trans-03 {
	-webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.f1-s-2 {
  font-family: Roboto-Regular;
  font-size: 14px;
  line-height: 0.2;
}
.cl0 {color: #fff;}
.bo-all-1 {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	background-color: rgba(0, 0, 0, 0.5)
}
.bocl0 {border-color: #fff;}
.hov-btn1:hover {
  background-color: #17b978;
  border-color: #17b978;
  color: #fff;
}

.animsition{position:relative;opacity:0;-webkit-animation-fill-mode:both;animation-fill-mode:both}