<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../../../resources/static/style/petstore.css" type="text/css" />

<title>낙찰확인창</title>
<!--<style>
div.bg {
	background-color : #FFFFCC;
	margin-left : 30%;
	margin-right : 30%;
	border-radius : 25px;
	
}
table.border {
	border-collapse: collapse;
	border: 1px solid;
}
table.border tr td{
	border: 1px solid;
}
ul.align { 
	display: inline-block; 
	text-align: left; 
}
table.border tr#c1 td{
	text-align:right;
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
}
td.bold {
	font-weight : bold;
}
</style>-->
</head>
<body>
<div align="center">
	<h2>낙찰되었습니다.</h2>
	<div class="bg">
		<ul class="align">
			<li><b>낙찰품목</b> : 해바라기</li>
			<li><b>가격</b> : 122220원</li>
		</ul>
</div>
	<p>
	
	<table class="border">
	<tr id="c1">
		<td colspan="2" ><a href="<c:url value='/index' />">회원정보와 동일</a></td>
	</tr>
		
	<tr bgcolor="#FFD700">
		<th colspan="2">배송정보</th>
	</tr>
	<tr>
		<td class="bold">이름</td>
		<td>곽철민</td>
	</tr>
	<tr>
		<td class="bold">전화번호</td>
		<td>010-7777-7777</td>
	</tr>
	<tr>
		<td class="bold">주소</td>
		<td>경기도 고양시 덕양구 도봉로 777 144동 144호</td>
	</tr>
	<tr>
		<td class="bold">카드번호</td>
		<td>999-9999-9999-9999</td>
	</tr>	
</table>
	<p />
	<input type="submit" value="다음"/> <input type="button" value="낙찰포기"/>
</div>
</body>
</html>