<!DOCTYPE html>
<html>
<head>
<title>낙찰완료</title>
<link rel="stylesheet" href="../../../resources/static/style/petstore.css" type="text/css" />

<!-- <style>
div.bg {
	background-color : #FFFFCC;
	margin-left : 30%;
	margin-right : 30%;
	border-radius : 25px;
}

div.center {
	text-align: center;
}

ul.align { 
	display: inline-block; 
	text-align: left; 
}

</style>-->
</head>
<body>
<div align="center">
	<h2>판매되었습니다.</h2>
	<div class="bg">
	<ul class="align">
		<li><b>낙찰품목</b> : 해바라기 </li>
		<li><b>가격</b> : 200049원</li>
		<li><b>구매자ID</b> : 양갱이</li>
	</ul>
	<p>
	</div>
	<p><a href="<c:url value='/home' />"><input type="button" value="확인"/></a></p>
	
</div>
</body>
</html>