<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>myInterestingList</title>
	<style>
    table, tr, th{
      border: 2px solid black;
      border-collapse: collapse;
    }
    table, tr, td{
      border: 1px solid black;
      border-collapse: collapse;
    }
	</style>
</head>

<body>
  <div align="center">
		<form>
      <h1>나의 찜 목록</h1>
      <table>
        <tr align="center" bgcolor="#D5D5D5">
          <th>상품ID</th>
          <th>경매 마감일</th>
          <th>최고가</th>
          <th>&nbsp;</th>
					<th>삭제</th>
        </tr>
        <tr align="center">
          <td>01</td>
          <td>2021-05-12</td>
          <td>20000</td>
          <td>경매참여</td>
					<td>삭제하기</td>
        </tr>
        <tr align="center">
          <td>01</td>
          <td>2021-05-12</td>
          <td>20000</td>
          <td>경매참여</td>
					<td>삭제하기</td>
        </tr>
      </table>
    </form>
  </div>
</body>
