<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link rel="stylesheet" href="style/petstore.css" type="text/css" />
<!-- 나영 수정1-->
<title>myPainting_bidding</title>
</head>
<h1>당신의 판매 물품은 유찰되었습니다.</h1>
<body bgcolor="white">
	<div class="itembidding">
		<h2>최소가격의 30% 감소하여 다시 올리시겠습니까?</h2>
		<h3>가격: ______ -> ______</h3>
		<h3>마감기간:</h3>
	</div>
	<table class="biddingcheck" align="center">
		<tr>
			<td><a href="..">
					<button>예</button></td>
			<td><a href="..">
					<button>아니오</button></td>
		</tr>
	</table>
</body>
</html>