<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>myPaintingList</title>
	<style>
    table, tr, th{
      border: 2px solid black;
      border-collapse: collapse;
    }
    table, tr, td{
      border: 1px solid black;
      border-collapse: collapse;
    }
	</style>
</head>

<body>
  <div align="center">
		<form>
      <h1>내 그림 관리</h1>
      <table>
        <tr align="center" bgcolor="#D5D5D5">
          <th>상품ID</th>
          <th width="200px">상품이미지</th>
          <th>state</th>
          <th>&nbsp;</th>
        </tr>
        <tr align="center">
          <td>01</td>
          <td><input name="pic" type="image" src="../../../resources/static/images/t1.jpg" width="100px"></td>
          <td>경매중</td>
          <td>그림등록취소</td>
        </tr>
        <tr align="center">
          <td>01</td>
          <td><input name="pic" type="image" src="../../../resources/static/images/t1.jpg" width="100px"></td>
          <td>경매중</td>
          <td>그림등록취소</td>
        </tr>
        <tr align="center">
          <td>01</td>
          <td><input name="pic" type="image" src="../../../resources/static/images/t1.jpg" width="100px"></td>
          <td>경매중</td>
          <td>그림등록취소</td>
        </tr>
        <tr align="center">
          <td>01</td>
          <td><input name="pic" type="image" src="../../../resources/static/images/t1.jpg" width="100px"></td>
          <td>경매중</td>
          <td>그림등록취소</td>
        </tr>
      </table>
    </form>
  </div>
</body>
