<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>updateUserAccount</title>
	<style>
	</style>
</head>

<body>
  <div align="center">
		<form>
      <h1>회원 정보 수정</h1>
      <table>
        <tr>
          <td>이름</td>
          <td> <input type="text" name="user_name"></td>
        </tr>
        <tr>
          <td>전화번호</td>
          <td> <input type="text" name="user_phone" ></td>
        </tr>
        <tr>
          <td>아이디</td>
          <td> <input type="text" name="user_ID" placeholder="아이디 입력" > <button type="button" name="button">중복확인</button></td>
        </tr>
        <tr>
          <td>패스워드</td>
          <td> <input type="text" name="user_PW" ></td>
        </tr>
        <tr>
          <td>패스워드 확인</td>
          <td> <input type="text" name="RE_user_PW" ></td>
        </tr>
        <tr>
          <td>이메일</td>
          <td> <input type="email" name="user_email" placeholder="email@gmail.com"></td>
        </tr>
        <tr>
          <td>카드번호</td>
          <td> <input type="text" name="user_credit" ></td>
        </tr>
        <tr>
          <td>주소</td>
          <td> <input type="text" name="user_address" ></td>
        </tr>
      </table>
      <br/>
      <button type="button" name="button">수정</button>
    </form>
  </div>
</body>
