<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.artsell.dao.mybatis.mapper.AccountMapper">
  <cache />

  <select id="getAccountByUsername" resultType="Account">
  	SELECT *
  	FROM ACCOUNT
  	WHERE USERID = #{userId}
  </select>

  <select id="getAccountByUsernameAndPassword" resultType="Account">
  	SELECT *
  	FROM ACCOUNT
  	WHERE USERID = #{userId}
  	  AND PASSWORD = #{password}
  </select>
  
</mapper>