<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="com.example.artsell.dao.mybatis.mapper.AuctionItemMapper">
  <cache />
  <select id="getAuctionItemByItemIdAndUserId" resultType="AuctionItem">
  	SELECT *
  	FROM AUCTIONITEM
  	WHERE USERID = #{userId}
  	AND ITEMID = #{itemId}
  </select>
  
  <select id="getBuyersByItemId" resultType="AuctionItem">
  	SELECT USERID, MYPRICE
  	FROM AUCTIONITEM
  	WHERE ITEMID = #{itemId} AND STATE = 0
  </select> -->
<mapper
	namespace="com.example.artsell.dao.mybatis.mapper.AuctionItemMapper">
	<cache />
	<select id="getAuctionItemByItemIdAndUserId"
		resultType="AuctionItem">
		SELECT *
		FROM AUCTIONITEM
		WHERE USERID = #{userId}
		AND ITEMID
		= #{itemId}
	</select>

	<select id="getAuctionItem" resultType="AuctionItem">
		SELECT *
		FROM auctionItem
		WHERE userId = #{userId} and state = 0
	</select>

	<select id="getBuyersByItemId" resultType="AuctionItem">
		SELECT USERID, MYPRICE
		FROM AUCTIONITEM
		WHERE ITEMID = #{itemId} AND STATE = 0
		ORDER BY myPrice DESC
	</select>

	<select id="calcBestPrice" resultType="int">
		select myPrice
		from auctionItem
		where itemId = #{itemId}
	</select>

	<insert id="insertAuctionItem" parameterType="AuctionItem">
		insert into
		AuctionItem values (#{userId}, #{itemId}, #{myPrice}, 0)
	</insert>

	<update id="updatePrice" parameterType="String">
		update auctionItem
		set
		myPrice = {#price}
		where userId={#userId} and
		itemId={#itemId}
	</update>
	
	<update id="updateItemBestPrice" parameterType="String">
		update Item
		set
		bestPrice = {#price}
		itemId={#itemId}
	</update>
	
	<insert id="addPrice" parameterType="String">
		insert into
		AuctionItem values (#{userId}, #{itemId}, #{myPrice}, 0)
	</insert>

	<delete id="deleteAuctionItem" parameterType="String">
		DELETE
		FROM ACCOUNT
		WHERE USERID = #{param1} and itemId = #{param2}
	</delete>

	<select id="isNewUserPrice" resultType="int">
		select count*
		from AuctionItem
		where userId = #{userId} and
		itemId = #{itemId}
	</select>
	
	<select id="getAuctionedItem" resultType="AuctionItem">
		select itemId,
		auctionedPrice, userId
		from AuctionItem
		where userId = #{userId} and
		state = 1
	</select>

	<select id="getOrderedItem" resultType="AuctionItem">
		SELECT itemId,
		auctionedPrice
		FROM auctionItem
		WHERE userId = #{userId} and state = 2
	</select>


	<select id="countAuctionJoinList" resultType="int">
		select count(*)
		from auctionItem where userId = #{userId}
	</select>

	<update id="changeState" parameterType="String">
		UPDATE auctionItem
		SET
		state = #{state}
		where userId = #{userId} and itemId = #{itemId}
	</update>
	
	<select id="getItemListByAuctionItem" parameterType="String" resultType="AuctionItem">
		select *
		from auctionItem
		where userId = #{userId} and state in (0,1,3)
	</select>
	
	<select id="getItemListByAuctionedItem" parameterType="String" resultType="AuctionedItem">
		select *
		from auctionedItem
		where userId = #{userId} and state = 2
	</select>

</mapper>